@{
    ViewData["Title"] = "Introduction Page";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Sign up now and create To-Dos, plan and organize them</p>
  <hr class="my-4">
  <p> Enjoy the app with easy user interface</p>
  <a class="btn btn-primary btn-lg" asp-controller="User" asp-action="Register" >Register</a>
</div>